################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/calculator03/.vs/calculator03/v16/.suo
